body > main {
    padding-top: 3.5rem;
}
footer {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Navigation */

.navbar {
    background-color: #232f3e;
}
.navbar-brand {
    margin-right: 0.5em;
}

.nav-item.slack {
    font-size: 1.5rem;
    padding: 0 !important;
}
.nav-item.slack .nav-link {
    padding: 0 !important;
}
.nav-link.slack .fa-slack {
    padding: 0 !important;
}

/* Index */

#carousel-index {
    margin-bottom: 4rem;
}
#carousel-index .carousel-item {
    height: 24rem;
    background-color: #232f3e;
}
.carousel-item.communityday {
    background-image: url("/content/img/awscommunityday-cubes.png");
    background-size: 187px 300px;
    background-repeat: no-repeat;
    background-position: left center;
}
.carousel-item.communityday #communityday-logo {
    height: 100px;
}
@media (min-width: 359px) {
    .carousel-item.communityday #communityday-logo {
        height: 60px;
    }
}
@media (min-width: 576px) {
    .carousel-item.communityday #communityday-logo {
        height: 150px;
    }
}
.carousel-item.usergroups #usergroups-members {
    height: 140px;
}

/* Community Day */

.jumbotron.communityday {
    height: 24rem;
    background-image: url("/content/img/awscommunityday-cubes.png");
    background-size: 187px 300px;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #232f3e;
    color: #ffffff;
    border-radius: 0;
}
.jumbotron.communityday #communityday-logo {
    height: 100px;
}
@media (min-width: 359px) {
    .jumbotron.communityday #communityday-logo {
        height: 100px;
    }
}
@media (min-width: 576px) {
    .jumbotron.communityday #communityday-logo {
        height: 150px;
    }
}
.jumbotron.communityday #reinventrecaptour2019-logo {
    height: 90px;
}
@media (min-width: 359px) {
    .jumbotron.communityday #reinventrecaptour2019-logo {
        height: 110px;
    }
}
@media (min-width: 576px) {
    .jumbotron.communityday #reinventrecaptour2019-logo {
        height: 200px;
    }
}
img.communityday-sponsor-large {
    width: 250px;
}
img.communityday-sponsor-small {
    width: 150px;
}
.table#communityday-agenda {
    font-size: 0.8rem;
}
.table#communityday-agenda .time {
    font-weight: normal;
    white-space: nowrap;
}

/* cookiealert.js */

.cookiealert {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    border-radius: 0;
}
.cookiealert.show {
    display: block;
}
.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}
