body > main {
  padding-top: 3.5rem;
}
footer {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Navigation */

.navbar {
  background-color: #232f3e;
}
.navbar-brand {
  margin-right: 0.5em;
}

/* Index */

.carousel {
  margin-bottom: 4rem;
}
.carousel-item {
  height: 24rem;
  background-color: #777;
}
.carousel-item.communityday {
  background-image: url("/content/img/awscommunityday-cubes.png");
  background-size: 187px 300px;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #232f3e;
}
.carousel-item.usergroups {
  background-color: #232f3e;
}

#carousel-awscommunityday-nordics {
  height: 60px;
}
#carousel-usergroups-members {
  height: 140px;
}


@media (min-width: 359px) {
  #carousel-awscommunityday-nordics {
    height: 70px;
  }
}
@media (min-width: 576px) {
  #carousel-awscommunityday-nordics {
    height: 100px;
  }
}

/* Community Day */

.jumbotron.communityday {
  height: 24rem;
  background-image: url("/content/img/awscommunityday-cubes.png");
  background-size: 187px 300px;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #232f3e;
  color: #ffffff;
  border-radius: 0;
}
.jumbotron.communityday #communityday-logo {
  height: 70px;
}
@media (min-width: 359px) {
  .jumbotron.communityday #communityday-logo {
    height: 80px;
  }
}
@media (min-width: 576px) {
  .jumbotron.communityday #communityday-logo {
    height: 120px;
  }
}
img.communityday-sponsor-large {
  width: 250px;
}
img.communityday-sponsor-small {
  width: 150px;
}
.table#communityday-agenda {
  font-size: .8rem;
}
.table#communityday-agenda .time {
  font-weight: normal;
  white-space: nowrap;
}