body,
p {
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-size: 16px;
    color: #888888;
}

html {
    scroll-behavior: smooth;
}
.custom-btn, .custom-btn:active, .custom-btn:visited {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #ffffff;
    color: #ffffff;
    background-color: #e47911;
    border-color: #e47911;
    border-radius: 3px 3px 3px 3px;
    padding: 21px 55px 21px 55px;
    text-decoration: none;
}

.custom-btn:hover {
    background-color: #ff6386;
    border-color: #ff6386;
}

/* Navigation */

.navbar {
    background-color: #232f3e;
}
.navbar-brand {
    margin-right: 0.5em;
}

.nav-item.slack {
    font-size: 1.5rem;
    padding: 0 !important;
}
.nav-item.slack .nav-link {
    padding: 0 !important;
}
.nav-link.slack .fa-slack {
    padding: 0 !important;
}

.banner-main h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.banner-main h2 {
    margin-bottom: 1.5rem;
}

.banner-main .carousel-inner {
    padding-top: 7.5rem;
}

#carousel-index {
    margin-bottom: 4rem;
    padding-top: 3rem;
}

#carousel-index .carousel-item {
    height: 24rem;
}
.carousel-item.communityday {
    background-image: url("/content/img/awscommunityday-cubes.png");
    background-size: 187px 300px;
    background-repeat: no-repeat;
    background-position: left center;
}
.carousel-item.communityday #communityday-logo {
    height: 100px;
}
@media (min-width: 359px) {
.carousel-item.communityday #communityday-logo {
    height: 60px;
}
}
@media (min-width: 576px) {
.carousel-item.communityday #communityday-logo {
    height: 150px;
}
}
.carousel-item.usergroups #usergroups-members {
    height: 140px;
}

/* Community Day */

.jumbotron.communityday {
    height: 24rem;
    background-image: url("/content/img/awscommunityday-cubes.png");
    background-size: 187px 300px;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #232f3e;
    color: #ffffff;
    border-radius: 0;
}
.jumbotron.communityday #communityday-logo {
    height: 100px;
}
@media (min-width: 359px) {
    .jumbotron.communityday #communityday-logo {
        height: 100px;
    }
}
@media (min-width: 576px) {
    .jumbotron.communityday #communityday-logo {
        height: 150px;
    }
}
.jumbotron.communityday #reinventrecaptour2019-logo {
    height: 90px;
}
@media (min-width: 359px) {
    .jumbotron.communityday #reinventrecaptour2019-logo {
        height: 110px;
    }
}
@media (min-width: 576px) {
    .jumbotron.communityday #reinventrecaptour2019-logo {
        height: 200px;
    }
}
img.communityday-sponsor-large {
    width: 250px;
}
img.communityday-sponsor-small {
    width: 150px;
}
.table#communityday-agenda {
    font-size: 0.8rem;
}
.table#communityday-agenda .time {
    font-weight: normal;
    white-space: nowrap;
}

/* cookiealert.js */

.cookiealert {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    border-radius: 0;
}
.cookiealert.show {
    display: block;
}
.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}


/** Counter **/

.countdown {
    margin-bottom: 50px;
}

.countdown .counter-item {
    display: inline-block;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    margin-right: 18px;
    padding: 35px 0;
    position: relative;
}

.countdown .counter-item i {
    font-size: 105px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.countdown .counter-item:last-of-type {
    margin-right: 0;
}

.countdown .counter-item span {
    font-size: 24px;
    display: block;
    line-height: 18px;
    letter-spacing: .96px;
    font-weight: 700;
}

.countdown .counter-item .smalltext {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.countdown .counter-item:nth-of-type(1) i {
    color: #00a3ee;
}

.countdown .counter-item:nth-of-type(2) i {
    color: #ffcf4a;
    top: 2px;
    -webkit-transform: rotate(-148deg);
    -ms-transform: rotate(-148deg);
    transform: rotate(-148deg);
}

.countdown .counter-item:nth-of-type(3) i {
    color: #00c1c1;
}

.countdown .counter-item:nth-of-type(4) i {
    color: #ff6386;
}


/*  */
/*==========================
      header area
===========================*/
.header .navbar {
    padding: 10px 0;
    white-space: nowrap;
}

.header .navbar-toggler {
    padding: 8px 12px;
}

.header .navbar-toggler .navbar-toggler-icon i {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}

.header .navbar-brand {
    padding: 0;
}

.header ul.navbar-nav > li > a {
    font-weight: 700;
    font-size: 14px;
    line-height: 78px;
    text-transform: uppercase;
    padding: 0 20px;
    display: block;
}

.header ul.navbar-nav > li > a:hover {
    color: #e7015e;
}

.header ul.navbar-nav > li.header-ticket {
    margin-top: 15px;
}

.header ul.navbar-nav > li.header-ticket .ticket-btn {
    height: 40px;
    line-height: 40px;
    padding: 0px 25px;
    background: #00c1c1;
    margin-left: 30px;
}

.header ul.navbar-nav > li.header-ticket .ticket-btn:hover {
    background: #e7015e;
}

.header ul.navbar-nav li .dropdown-menu {
    padding: 10px 20px;
    min-width: 230px;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;
}

.header ul.navbar-nav li .dropdown-menu li a {
    padding: 12px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    font-size: 14px;
    display: block;
    color: #222;
}

.header ul.navbar-nav li .dropdown-menu li a:hover {
    color: #e7015e;
}

.header ul.navbar-nav li .dropdown-menu li:last-child a {
    border-bottom: none;
}

.header.header-transparent {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    height: auto;
    background: #232F3E;
}

.header.header-transparent .navbar-brand {
    padding: 0;
    width: 180px;
}

.header.header-transparent .navbar-brand img {
    vertical-align: top;
}

.header.header-transparent ul.navbar-nav {
    position: relative;
    top: 5px;
}

.header.header-transparent ul.navbar-nav > li > a {
    color: #fff;
    line-height: 72px;
}

.header.header-transparent.nav-border {
    border-bottom: 1px solid #363d8a;
    padding: 10px 0;
}

.header.header-transparent.nav-border .navbar {
    padding: 0px 0;
}

.header.header-transparent.nav-border ul.navbar-nav > li.header-ticket .ticket-btn {
    background: #3a6af0;
}

.header.h-transparent2 {
    padding: 30px 0;
}

.header.h-transparent2 .navbar.navbar-light ul.navbar-nav > li > a {
    color: #3b1d82;
}

.header.h-transparent2 button.navbar-toggler {
    position: absolute;
    right: 0;
    top: -50px;
    padding: 8px 12px;
    font-size: 22px;
}

.header.h-transparent2 .ticket-btn.btn {
    border-radius: 36px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    color: #3b1d82;
    font-size: 14px;
    padding: 0 25px;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
}

.header.h-transparent2 .ticket-btn.btn:hover {
    background: #ff007a;
    color: #fff;
}

.header.h-transparent2.sticky {
    background: rgba(16, 16, 16, 0.95);
    -webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.02);
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.02);
}

.header.header-classic .navbar {
    padding: 0;
}

.header.header-classic ul.navbar-nav {
    margin-top: 5px;
}

.header.header-classic ul.navbar-nav > li > a {
    color: #222222;
    line-height: 74px;
}

.header.header-classic ul.navbar-nav > li > a:hover {
    color: #e7015e;
}

.header.header-classic ul.navbar-nav > li.active > a {
    color: #e7015e;
}

.header.header-classic ul.navbar-nav > li.header-ticket .ticket-btn {
    background: #e7015e;
    color: #fff;
}

.header.header-classic ul.navbar-nav > li.header-ticket .ticket-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d20055;
}

.header.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #232F3E;
    padding: 15px 0;
}

.header.sticky .navbar {
    padding: 0;
}

.header.sticky.fade_down_effect {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.header.sticky.header-classic {
    background: #fff;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
}

.dropdown-menu.show {
    display: none;
}

@media (min-width: 991px) {
    .header ul.navbar-nav li:hover > .dropdown-menu {
        display: block;
        border: none;
    }
}

/*==========================
     ts schedule
===========================*/

.ts-schedule {
    padding-top: 6rem;
    position: relative;
    overflow: hidden;
}

.nav-item a:hover {
    text-decoration: none;
}

.ts-schedule-nav {
    text-align: center;
    margin-bottom: 90px;
}

.ts-schedule-nav ul {
    border: none;
}

.ts-schedule-nav ul li {
    margin: 0 3px;
}

.ts-schedule-nav ul li a {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: #232F3E;
    display: block;
    padding: 20px 50px;
    position: relative;
}

.ts-schedule-nav ul li a:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #e47911 transparent transparent;
    position: absolute;
    left: 0;
    bottom: -15px;
    content: '';
    opacity: 0;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

.ts-schedule-nav ul li a h3 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.ts-schedule-nav ul li a.active {
    background: #e47911;
    color: #fff;
}

.ts-schedule-nav ul li a.active h3 {
    color: #fff;
}

.ts-schedule-nav ul li a.active:before {
    opacity: 1;
}

/* Schedule
================================================== */

.schedule-tab,
.schedule-content .container {
    max-width: 960px;
    margin: 0 auto;
}
.schedule-tab .nav-tabs {
    text-align: center;
    margin-bottom: 40px;
}
.schedule-tab .nav-tabs > li {
    float: none;
    display: inline-block;
    zoom: 1;
}
.schedule-tab .nav-tabs > li > a {
    color: #fff;
    background: #1c1c24;
    border-radius: 25px;
    padding: 13px 30px;
    margin: 0 5px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.schedule-tab .nav-tabs > li.active > a {
    background: #ee163a;
    color: #fff;
}
/* Schedule listing */

.schedule-date {
    font-size: 24px;
    margin-bottom: 40px;
    color: #ee163a;
    text-align: center;
}
.schedule-listing {
    padding: 25px 40px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    position: relative;
    border-radius: 5px;
}
.schedule-listing.bg {
    background: #f5f5f5;
}
.schedule-slot-time {
    width: 20%;
    float: left;
    font-weight: 700;
}
.schedule-slot-info {
    width: 80%;
    display: inline-block;
}
.schedule-slot-speakers {
    width: 58px;
    height: 58px;
    border-radius: 5px;
    position: absolute;
    top: 15;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.schedule-slot-info-content {
    margin-left: 100px;
}
.schedule-slot-speaker-name {
    color: #ee163a;
    margin: 0;
    font-size: 16px;
}
.schedule-slot-title {
    margin: 5px 0;
    font-size: 20px;
}

/*==========================
     ts speaker
===========================*/
.ts-speakers {
    position: relative;
    padding-top: 1rem;
    overflow: hidden;
    background-image: url("/content/img/speaker_bg.png");
}

.ts-speaker {
    position: relative;
    text-align: center;
    margin-bottom: 55px;
}

.ts-speaker .speaker-img {
    width: 255px;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin: auto auto 20px;
}

.ts-speaker .speaker-img img {
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

.ts-speaker .speaker-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(59, 29, 130, 0.5);
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    opacity: 0;
    z-index: 1;
}

.ts-speaker .view-speaker {
    position: absolute;
    left: 0;
    top: 70%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    font-size: 22px;
    width: 50px;
    height: 50px;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    padding: 12px 0;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    opacity: 0;
    z-index: 2;
}

.ts-speaker .ts-title {
    margin-bottom: 5px;
}

.ts-speaker .ts-title a {
    color: #222222;
}

.ts-speaker:hover .speaker-img img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.ts-speaker:hover .speaker-img:before {
    opacity: 1;
}

.ts-speaker:hover .view-speaker {
    top: 50%;
    opacity: 1;
}

.ts-speaker:hover .ts-title a {
    color: #e7015e;
}

.ts-speaker.white-text .ts-title a,
.ts-speaker.white-text p {
    color: #e47911;
}

.speaker-classic {
    padding-top: 100px;
}

.speaker-classic .ts-speaker {
    margin-bottom: 60px;
}

.speaker-classic .ts-speaker .speaker-img {
    width: 100%;
    height: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
}

.speaker-classic .ts-speaker .ts-speaker-info {
    position: absolute;
    right: 0;
    bottom: -13px;
    background: #fff;
    z-index: 1;
    width: 90%;
    padding: 20px 0 10px;
}

.speaker-classic .ts-speaker .ts-speaker-info .ts-title {
    margin-bottom: 0;
}

.speaker-classic .ts-speaker .ts-speaker-info p {
    margin-bottom: 0;
}

.speaker-shap img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100px;
}

.speaker-shap img.shap1 {
    top: 15%;
}

.speaker-shap img.shap2 {
    bottom: 0;
    left: auto;
    top: 35%;
    right: 0;
    margin: auto;
}

.speaker-shap img.shap3 {
    top: auto;
    bottom: -25px;
    margin: auto;
    left: 6%;
}

.ts-speaker-popup {
    background: #fff;
    padding: 0;
    position: relative;
}

.ts-speaker-popup .ts-speaker-popup-img img {
    width: 100%;
}

.ts-speaker-popup .ts-speaker-popup-content {
    padding: 60px 40px;
}

.ts-speaker-popup .ts-speaker-popup-content .ts-title {
    margin-bottom: 10px;
}

.ts-speaker-popup .ts-speaker-popup-content .speakder-designation {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}

.ts-speaker-popup .ts-speaker-popup-content .company-logo {
    margin-bottom: 15px;
}

.ts-speaker-popup .ts-speaker-popup-content p {
    margin-bottom: 25px;
}

.ts-speaker-popup .ts-speaker-popup-content h4 {
    font-size: 20px;
    font-weight: 700;
}

.ts-speaker-popup .ts-speaker-popup-content .session-name {
    margin-bottom: 15px;
}

.ts-speaker-popup .ts-speaker-popup-content .speaker-session-info span {
    color: #888888;
}

.ts-speaker-popup .ts-speaker-popup-content .speaker-session-info p {
    color: #e7015e;
    margin-bottom: 30px;
}

.ts-speaker-popup .ts-speaker-popup-content .ts-speakers-social a {
    color: #ababab;
    margin-right: 18px;
}

.ts-speaker-popup .ts-speaker-popup-content .ts-speakers-social a:hover {
    color: #e7015e;
}

.ts-speaker-popup button.mfp-close {
    font-size: 30px;
}

.section-title,
.column-title {
    font-size: 36px;
    font-weight: 800;
    color: #3b1d82;
    position: relative;
    margin-bottom: 60px;
    text-align: center;
}

.section-title:after,
.column-title:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    right: 0;
    width: 70px;
    height: 10px;
    margin: auto auto 0;
    top: auto;
    bottom: 0;
}

.section-title span,
.column-title span {
    display: block;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.section-title.white,
.column-title.white {
    color: #232f3e;
}

.whiteColor {
    color: white;
}

.section-title.white span,
.column-title.white span {
    color: #e47911;
}

.section-title.whiteColor span {
    color: white;
}

.ts-speaker-info .ts-title {
    color: black;
}

/*==========================
      intro area
===========================*/
.ts-intro {
    padding-bottom: 4rem;
    padding-top: 5rem;
}

.intro-line {
    background-repeat: no-repeat;
    background-position: center;
}

.single-intro-text {
    padding: 40px 45px 40px 40px;
    -webkit-box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: #fff;
    z-index: 2;
}

.single-intro-text i {
    position: absolute;
    right: -10px;
    top: 20px;
    font-size: 55px;
    color: #bababa;
}

.single-intro-text p {
    margin-bottom: 0;
}

.single-intro-text .count-number {
    position: absolute;
    right: -55px;
    bottom: -55px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    background: #e7015e;
    color: #fff;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    padding: 25px 30px;
}

/* Intro video */

.intro-video {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
.video-icon {
    text-align: center;
    color: #fff;
    display: block;
    top: 50%;
    margin-top: -50px;
    font-size: 32px;
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    line-height: 65px;
    border: 7px solid #fff;
    display: inline-block;
    border-radius: 100%;
}
.video-icon i {
    margin-left: 5px;
}

.video-btn {
    right: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 80px;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    width: 80px;
    height: 80px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.video-btn:hover {
    color: #e7015e;
}

.ts-intro-item {
    padding: 100px 0 70px;
}

.ts-intro-item .single-intro-text {
    -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
}

.intro-left-content p {
    margin-bottom: 40px;
    padding-right: 10px;
}

.ts-intro.event-intro {
    padding-top: 120px;
    padding-bottom: 0;
}

.ts-intro.event-intro .single-intro-text {
    padding: 35px 50px 40px;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

.ts-intro.event-intro .single-intro-text i {
    position: relative;
    left: 0;
    font-size: 64px;
    display: block;
    margin-bottom: 45px;
    color: #fff;
}

.ts-intro.event-intro .single-intro-text .ts-title,
.ts-intro.event-intro .single-intro-text p {
    color: #fff;
}

.ts-intro.event-intro .single-intro-text:hover {
    background: rgba(25, 25, 25);
}

.tab-content-title {
    color: #e47911;
    font-size: 20px;
    margin: 0 0 15px;
    line-height: 22px;
}

.sppb-cta-text {
    color: black;
}

.col-about {
    margin-top: auto;
    margin-bottom: auto;
}

/* Facts
================================================== */

.facts-area {
    color: #ffffff;
    background-color: #1c1c24;
    background-image: url(../../content/img/aws_summit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    padding: 100px 0;
}
.facts-area.bg-color{
    background: #1c1c24;
    padding: 60px 0 40px;
}

.facts .intro-title {
    color: #fff;
    margin-top: 0;
}
.facts .btn-dark {
    margin-top: 15px;
}
.fact-text {
    padding-top: 10px;
}

.facts-wrapper .ts-facts {
    color: #fff;
    text-align: center;
}
.ts-facts .ts-facts-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}
.ts-facts .ts-facts-icon i {
    font-size: 28px;
    color: white;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 100%;
}

.color-1 {
    background: #00a3ee;
}

.color-2 {
    background: #ffcf4a;
}

.color-3 {
    background: #00c1c1;
}

.color-4 {
    background: #ff6386;
}

.ts-facts .ts-facts-content {
    display: inline-block;
}
.ts-facts .ts-facts-content .ts-facts-num {
    color: #fff;
    font-size: 48px;
    margin: 0;
}
.ts-facts .ts-facts-content .ts-facts-title {
    font-size: 16px;
    color: #fff;
}

.gap-60 {
    clear: both;
    height: 60px;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    z-index: 0;
    pointer-events: none;
    background: #232f3e;
}

.banner-main h2 {
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: normal;
}

#typed {
    color: #e47911;
}

/*------------back to top-------------*/
.BackTo {
    background: #e47911 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 35px;
    color: #e47911;
    cursor: pointer;
    height: 44px;
    position: fixed;
    right: 14px;
    text-align: center;
    width: 44px;
    z-index: 9;
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.BackTo a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 2px;
    text-decoration: none;
}

.caption {
    color: white;
}

.main-banner-item {
    display: block;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}

.info-list {
    list-style: none;
}

.info-list li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    margin: 0 10px;
    text-transform: uppercase;
}

.info-list li .icon {
    color: #e47911;
    margin-right: 10px;
    float: left;
    font-size: 18px;
    line-height: 26px;
}

.ts-supporters {
    padding-top: 6rem;
    padding-bottom: 8rem;
    position: relative;
    overflow: hidden;
    background-image: url("/content/img/speaker_bg.png");
}

.ts-supporters .speaker-img {
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -ms-border-radius: 10%;
}

/*====================================
         ts-book-seat
 ====================================*/
.ts-book-seat {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 3rem;
    background-image: url(../../content/img/aws_summit.jpg);
}

.ts-book-seat:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.65); }


.ts-book-seat .book-seat-content {
    position: relative;
    z-index: 1;
}

.ts-book-seat .book-seat-content .section-title {
    margin-bottom: 40px; }

.ts-book-seat .book-seat-content p {
    color: #fff;
    margin-bottom: 20px; }

/*====================================
         ts newsletter
 ====================================*/
.ts-footer-newsletter {
    position: relative; }

.ts-newsletter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #3b1d82;
    padding: 55px 0 60px;
    position: absolute;
    width: 100%;
    z-index: 1; }
.ts-newsletter:before, .ts-newsletter:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: url(../images/shap/subscribe_slice_left.png) no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover; }
.ts-newsletter:after {
    background: url(/content/img//subscribe_slice_right.png) no-repeat;
    left: auto;
    right: 0;
    background-size: cover; }
.ts-newsletter .ts-newsletter-content {
    position: relative;
    z-index: 1; }
.ts-newsletter .ts-newsletter-content .section-title {
    padding-bottom: 0;
    margin-bottom: 55px;
    color: #fff; }
.ts-newsletter .ts-newsletter-content .section-title span {
    color: #fff; }
.ts-newsletter .ts-newsletter-content .section-title:after {
    display: none; }

.newsletter-form {
    position: relative;
    z-index: 1; }
.newsletter-form .email-form-group {
    margin-right: 10px; }
.newsletter-form .email-form-group .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6f55b0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    font-size: 14px;
    line-height: 40px;
    padding: 0;
    color: #fff; }
.newsletter-form .email-form-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }
.newsletter-form .email-form-group .form-control::-webkit-input-placeholder {
    color: #fff; }
.newsletter-form .email-form-group .form-control:-ms-input-placeholder {
    color: #fff; }
.newsletter-form .email-form-group .form-control::-ms-input-placeholder {
    color: #fff; }
.newsletter-form .email-form-group .form-control::placeholder {
    color: #fff; }

/*================================
      ts-footer
 ==================================*/
.ts-footer {
    background: #1a1831;
    padding: 2rem 0 50px; }

.ts-footer-social ul {
    padding: 0; }
.ts-footer-social ul li {
    display: inline-block;
    list-style: none; }
.ts-footer-social ul li a {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 1px solid #525164;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 7px 0;
    margin: 0 5px; }
.ts-footer-social ul li a:hover {
    background: #e47911;
    border-color: #e47911;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

.footer-menu ul li {
    display: inline-block; }
.footer-menu ul li a {
    color: white;
    margin: 0 20px;
    position: relative; }
.footer-menu ul li a:before {
    position: absolute;
    left: -24px;
    top: 1px;
    bottom: 0;
    margin: auto;
    content: '';
    background: #5f5e6f;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%; }
.footer-menu ul li a:hover {
    color: #e47911;
    text-decoration: none;
}
.footer-menu ul li:first-child a:before {
    display: none; }

.copyright-text p {
    margin-bottom: 0;
    color: white; }

.ts-footer.ts-footer-item {
    background: transparent;
    padding: 0px 0; }
.ts-footer.ts-footer-item .footer-border {
    border-top: 1px solid #2e2b72;
    padding: 60px 0; }
.ts-footer.ts-footer-item .footer-menu ul li a {
    color: #fff; }
.ts-footer.ts-footer-item .footer-menu ul li a:before {
    display: none; }
.ts-footer.ts-footer-item .footer-menu ul li:first-child a {
    margin-left: 0; }
.ts-footer.ts-footer-item .ts-footer-social ul li a {
    border-color: #464482; }
.ts-footer.ts-footer-item .newsletter-form {
    margin-bottom: 35px;
    margin-top: -15px; }
.ts-footer.ts-footer-item .newsletter-form .email-form-group .form-control {
    border-bottom-color: #464482; }
.ts-footer.ts-footer-item .copyright-text p {
    color: #fff; }


#supporters a {
    color: #232f3e;
    font-size: 1.6rem;
    font-weight: 800;
    text-decoration: none;
}

#supporters a:hover {
    color: #e47911;
    text-decoration: none;
}

#supporters .container p {
    color: #e47911;
}

.supporters-logo img{
    width: 100px;
    height: 100px;
}

#team {
    padding-top: 6rem;
}

#team .team-member {
    visibility: visible; 
    animation-duration: 1.5s; 
    animation-delay: 400ms;
}